In [243]:
import pandas as pd
import numpy as np

In [244]:
aviation_data=pd.read_csv("AviationData.csv",engine="python")

In [245]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [246]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [247]:
type(aviation_data)

pandas.core.frame.DataFrame

In [248]:
state_codes=pd.read_csv("USState_Codes.csv")

In [249]:
state_codes.isnull().sum()

US_State        0
Abbreviation    0
dtype: int64

In [250]:
aviation_data=aviation_data.dropna(subset=["Location"])

In [251]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                     225
Latitude                  54460
Longitude                 54469
Airport.Code              38590
Airport.Name              36049
Injury.Severity            1000
Aircraft.damage            3187
Aircraft.Category         56559
Registration.Number        1295
Make                         63
Model                        92
Amateur.Built                98
Number.of.Engines          6055
Engine.Type                7071
FAR.Description           56823
Schedule                  76288
Purpose.of.flight          6182
Air.carrier               72192
Total.Fatal.Injuries      11387
Total.Serious.Injuries    12492
Total.Minor.Injuries      11914
Total.Uninjured            5901
Weather.Condition          4487
Broad.phase.of.flight     27127
Report.Status              6381
Publication.Date          13759
dtype: int64

In [252]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

In [253]:
aviation_data=aviation_data.drop(columns=["Latitude","Longitude","Schedule","Publication.Date"])

In [254]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,091,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN

In [255]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                     225
Airport.Code              38590
Airport.Name              36049
Injury.Severity            1000
Aircraft.damage            3187
Aircraft.Category         56559
Registration.Number        1295
Make                         63
Model                        92
Amateur.Built                98
Number.of.Engines          6055
Engine.Type                7071
FAR.Description           56823
Purpose.of.flight          6182
Air.carrier               72192
Total.Fatal.Injuries      11387
Total.Serious.Injuries    12492
Total.Minor.Injuries      11914
Total.Uninjured            5901
Weather.Condition          4487
Broad.phase.of.flight     27127
Report.Status              6381
dtype: int64

In [256]:
aviation_data["Country"]=aviation_data["Country"].fillna("United States")

In [257]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,091,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN

In [258]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Airport.Code              38590
Airport.Name              36049
Injury.Severity            1000
Aircraft.damage            3187
Aircraft.Category         56559
Registration.Number        1295
Make                         63
Model                        92
Amateur.Built                98
Number.of.Engines          6055
Engine.Type                7071
FAR.Description           56823
Purpose.of.flight          6182
Air.carrier               72192
Total.Fatal.Injuries      11387
Total.Serious.Injuries    12492
Total.Minor.Injuries      11914
Total.Uninjured            5901
Weather.Condition          4487
Broad.phase.of.flight     27127
Report.Status              6381
dtype: int64

In [259]:
aviation_data.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82782.000000,77450.000000,76345.000000,76923.000000,82936.000000
mean,1.146421,0.646275,0.279874,0.357162,5.318571
std,0.445889,5.476147,1.544262,2.236083,27.885360
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [260]:
aviation_data=aviation_data.dropna(subset=["Make","Model","Amateur.Built"])

In [261]:
aviation_data

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Airport.Code,Airport.Name,Injury.Severity,Aircraft.damage,...,FAR.Description,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,Fatal(4),Destroyed,...,NaN,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,NaN,NaN,Fatal(3),Destroyed,...,NaN,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,Fatal(2),Destroyed,...,NaN,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,Fatal(1),Destroyed,...,NaN,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,091,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,091,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,Minor,NaN,...,091,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN

In [262]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Airport.Code              38428
Airport.Name              35896
Injury.Severity             979
Aircraft.damage            3149
Aircraft.Category         56412
Registration.Number        1189
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          5919
Engine.Type                6926
FAR.Description           56721
Purpose.of.flight          6066
Air.carrier               72025
Total.Fatal.Injuries      11309
Total.Serious.Injuries    12387
Total.Minor.Injuries      11806
Total.Uninjured            5821
Weather.Condition          4379
Broad.phase.of.flight     26979
Report.Status              6335
dtype: int64

In [263]:
aviation_data["Weather.Condition"].value_counts()

VMC    77200
IMC     5960
UNK      829
Unk      262
Name: Weather.Condition, dtype: int64

In [264]:
aviation_data[["Number.of.Engines","Make","Model","Total.Fatal.Injuries",
               "Total.Serious.Injuries","Total.Minor.Injuries","Total.Uninjured","Weather.Condition"]]

,Number.of.Engines,Make,Model,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition
0,1.0,Stinson,108-3,2.0,0.0,0.0,0.0,UNK
1,1.0,Piper,PA24-180,4.0,0.0,0.0,0.0,UNK
2,1.0,Cessna,172M,3.0,NaN,NaN,NaN,IMC
3,1.0,Rockwell,112,2.0,0.0,0.0,0.0,IMC
4,NaN,Cessna,501,1.0,2.0,NaN,0.0,VMC
...,...,...,...,...,...,...,...,...
88884,NaN,PIPER,PA-28-151,0.0,1.0,0.0,0.0,NaN
88885,NaN,BELLANCA,7ECA,0.0,0.0,0.0,0.0,NaN
88886,1.0,AMERICAN CHAMPION AIRCRAFT,8GCBC,0.0,0.0,0.0,1.0,VMC
88887,NaN,CESSNA,210N,0.0,0.0,0.0,0.0,NaN
88888,NaN,PIPER,PA-24-260,0.0,1.0,0.0,1.0,NaN

In [265]:
aviation_data=aviation_data.copy()
aviation_data["Weather.Condition"] = aviation_data["Weather.Condition"].replace({"Unk": "UNK"})

In [266]:
aviation_data["Weather.Condition"].value_counts()

VMC    77200
IMC     5960
UNK     1091
Name: Weather.Condition, dtype: int64

In [267]:
aviation_data["Weather.Condition"]=aviation_data["Weather.Condition"].fillna("UNK")

In [268]:
aviation_data["Weather.Condition"].value_counts()

VMC    77200
IMC     5960
UNK     5470
Name: Weather.Condition, dtype: int64

In [270]:
aviation_data.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                      0
Country                       0
Airport.Code              38428
Airport.Name              35896
Injury.Severity             979
Aircraft.damage            3149
Aircraft.Category         56412
Registration.Number        1189
Make                          0
Model                         0
Amateur.Built                 0
Number.of.Engines          5919
Engine.Type                6926
FAR.Description           56721
Purpose.of.flight          6066
Air.carrier               72025
Total.Fatal.Injuries      11309
Total.Serious.Injuries    12387
Total.Minor.Injuries      11806
Total.Uninjured            5821
Weather.Condition             0
Broad.phase.of.flight     26979
Report.Status              6335
dtype: int64

In [280]:
aviation_data["Make"].value_counts().tail(10)

RIDGE LOWELL H         1
Ferdon                 1
Wittman Tailwind       1
Joseph E. Crosby       1
Zodiac                 1
Curtiss Wright         1
MOSSMAN MICHAEL D      1
Dennis L. Fetters      1
KINSLER ARTHUR PAUL    1
Mazzon                 1
Name: Make, dtype: int64

In [279]:
aviation_data["Report.Status"].value_counts().tail(10)

The total loss of engine power due to the fatigue failure of the No. 2 cylinder attachment fasteners as a result of improper engine overhaul practices.                                                                                                                                                                                                                                                                                           1
The pilot's failure to ensure that the airplane's wheels were properly secured before releasing the parking brake.                                                                                                                                                                                                                                                                                                                                1
The misjudged landing flare by the pilot, and the inadequate landing gear inspection/repair procedure used by other maintenance personnel, resulting in the failure of the main landing gear strut during landing.                                                                                                                                                                                                                                1
The pilot's improper pitch control during takeoff in high, gusting wind conditions, which resulted in a runway overrun and the nose landing gear collapsing. \r\n\r\n\r                                                                                                                                                                                                                                                                           1
The pilot’s inadequate preflight fuel planning, which resulted in a loss of engine power due to fuel exhaustion. \r                                                                                                                                                                                                                                                                                                                               1
The pilot’s application of excessive pitch and his failure to achieve adequate airspeed during the go-around attempt, which resulted in an aerodynamic stall.\r                                                                                                                                                                                                                                                                                   1
The pilot's decision to land on the turf runway with insufficient landing performance and his subsequent loss of control during the landing roll.\r\n\r                                                                                                                                                                                                                                                                                           1
The noninstrument-rated pilot’s continued visual flight into night instrument flight rules conditions, which resulted in a collision with the runway during an attempted approach to land. Contributing to the accident was the pilot’s mental state, his impairment due to alcohol, and his decision to operate the airplane from Canada to the United States without the owner’s permission and without proper clearances for the flight. \r    1
The pilot’s decision to initiate a flight with a failed mixture control cable which resulted in a total loss of engine power. \r                                                                                                                                                                                                                                                                                                                  1
The pilot's misjudged distance and altitude while on final approach to land. A factor contributing to the accident was a downdraft.                                                                                                                                                                                                                                                                                                               1
Name: Report.Status, dtype: int64